WpfClient/WpfClient/Connected Services/APLService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BIRTHDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FAVORITEGROUP" nillable="true" type="tns:Group" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
          <xs:element minOccurs="0" name="Guesses" nillable="true" type="tns:GuessList" />
          <xs:element minOccurs="0" name="ISADMIN" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupShortcut" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Points" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="GuessList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guess" nillable="true" type="tns:Guess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuessList" nillable="true" type="tns:GuessList" />
  <xs:complexType name="Guess">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="GAME" nillable="true" type="tns:Game" />
          <xs:element minOccurs="0" name="ISCORRECT" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISDRAW" type="xs:boolean" />
          <xs:element minOccurs="0" name="TEAMGUESSED" nillable="true" type="tns:Group" />
          <xs:element minOccurs="0" name="USER" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Guess" nillable="true" type="tns:Guess" />
  <xs:complexType name="Game">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AWAYSCORE" type="xs:int" />
          <xs:element minOccurs="0" name="AWAYTEAM" nillable="true" type="tns:Group" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HOMESCORE" type="xs:int" />
          <xs:element minOccurs="0" name="HOMETEAM" nillable="true" type="tns:Group" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="GameList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameList" nillable="true" type="tns:GameList" />
  <xs:complexType name="GroupList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupList" nillable="true" type="tns:GroupList" />
  <xs:complexType name="PlayerList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerList" nillable="true" type="tns:PlayerList" />
  <xs:complexType name="Player">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCaptain" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Number" type="xs:int" />
          <xs:element minOccurs="0" name="PlayerGroup" nillable="true" type="tns:Group" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>