WpfClient/WpfClient/Connected Services/APLService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceBase/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllGamesResult" nillable="true" type="q2:GameList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllGroupsResult" nillable="true" type="q3:GroupList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGuesses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGuessesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllGuessesResult" nillable="true" type="q4:GuessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllPlayersResult" nillable="true" type="q5:PlayerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="game" nillable="true" type="q7:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="group" nillable="true" type="q8:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="guess" nillable="true" type="q9:Guess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGuessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGuessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="player" nillable="true" type="q10:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="game" nillable="true" type="q12:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="group" nillable="true" type="q13:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="guess" nillable="true" type="q14:Guess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGuessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllGuesses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllGuessesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="player" nillable="true" type="q15:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q16:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="game" nillable="true" type="q17:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="group" nillable="true" type="q18:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="guess" nillable="true" type="q19:Guess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGuessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="player" nillable="true" type="q20:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="LoginResult" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetGameResultsResult" nillable="true" type="q23:GameList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewGamesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateUserPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateUserPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateUserPointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="group" nillable="true" type="q25:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>